RewriteEngine On

# Ngăn hiển thị danh sách thư mục
Options -Indexes

# Nếu file/folder không tồn tại, chuyển về index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# Nếu truy cập public/ không có gì → chuyển về landing
RewriteCond %{REQUEST_URI} ^/public/?$
RewriteRule ^(.*)$ index.php?url=landing [L]
